@import url("more-fonts.css");

.navbar.navbar-default {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand img {
    height: 3em;
}

.navbar-revature {
    padding-top: 2em;
}

.nav.navbar-nav.navbar-right li {
    padding: 0em 1em;
}

.nav.navbar-nav.navbar-right li a {
    padding: 1em 0em;
    padding-bottom: .2em;
    font-weight: 700;
    font-size: 1.15em;
    font-variant: small-caps;
    color: #555;
    margin-bottom: .15em;
}

.nav.navbar-nav.navbar-right li a:hover {
    border-bottom: .15em solid #f26925;
    margin-bottom: 0em;
    cursor: pointer;
}

.nav.navbar-nav.navbar-right li.logged {
    visibility: hidden;
}

.col-md-9 h1 {
    font-size: 4em;
    font-variant: small-caps;
    font-weight: 500;
}

.col-md-3.col-btn {
    padding: 3em 0em 1em 0em;
}

.col-md-3.col-btn .btn.btn-default {
    background: none;
    font-size: .8em;
}

.col-md-3.col-btn .btn.btn-default:hover {
    background: hsla(0, 0%, 0%, .1);
}

.panel-revature {
    border-color: #f26925;
}

.panel-revature .panel-heading {
    display: grid;
    height: 3.5em;
    background-color: #f26925;
    border-color: #f26925;
    background-image: none;
}

.panel-heading a {
    align-self: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.refresh-animate {
    height: 1em;
    animation: spin 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}