@charset "UTF-8";

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .container, .fluid-container {
    transition: all .5s;
}

.navbar.navbar-default {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand img {
    height: 3em;
}

.navbar-revature {
    padding-top: 2em;
}

.nav.navbar-nav.navbar-right li {
    padding: 0em 1em;
}

.nav.navbar-nav.navbar-right li a {
    padding: 1em 0em;
    padding-bottom: .2em;
    font-weight: 700;
    font-size: 1.15em;
    font-variant: small-caps;
    color: #555;
    margin-bottom: .15em;
}

.nav.navbar-nav.navbar-right li a:hover {
    border-bottom: .15em solid #f26925;
    margin-bottom: 0em;
    cursor: pointer;
}

.nav.navbar-nav.navbar-right li.logged {
    visibility: hidden;
}

.btn.btn-default {
    font-variant: small-caps;
    font-weight: 500;
}

.col-md-9 h1 {
    font-size: 4em;
    font-variant: small-caps;
    font-weight: 500;
}

.col-md-3.col-btn {
    padding: 3em 0em 1em 0em;
}

.col-md-3.col-btn.back {
    position: absolute;
    transform: translate(-10em);
}

.col-md-3.col-btn .btn.btn-default {
    background: none;
    font-size: .8em;
}

.col-md-3.col-btn .btn.btn-default:hover {
    background: hsla(0, 0%, 0%, .1);
}

.panel-revature {
    border-color: rgba(242, 106, 37, .5);
}

.panel-revature .panel-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.5em;
    padding: 1.15em 1em;
    background-color: rgba(242, 106, 37, 1);
    border-color: rgba(242, 106, 37, .5);
    background-image: none;
}

.col-md-4 .panel-revature .panel-heading {
    cursor: pointer;
}

.panel-revature .panel-heading.selected {
    background-color: rgba(255, 150, 90, 1);
}

.panel-revature .panel-heading, .panel-revature .panel-heading a h3 {
    color: white;
    font-weight: bold;
}

.panel-heading a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.refresh-animate {
    height: 1em;
    animation: spin 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#dashboard-left{
    border: 2px solid rgba(0,0,0,.1);
    padding-top: 15px;
    border-left: none;
    height: 100%;
    transition: all .5s;
}

#dashboard-right{
    border: 2px solid rgba(0,0,0,.1);
    padding-top: 15px;
    border-right: none;
    height: 100%;
    transition: all .5s;
}

.view-content {
    border-top: 2px solid rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,.1);
}

#expand-btn {
    position: absolute;
    z-index: 2;
    transform: translate(-20px, 64px);
    -moz-transform: translate(-33.8em, 64px);
    transition: all .5s;
}

.address {
    white-space: pre;
}

#dashboard-housing, #dashboard-associate {
    height: 3.2em;
}

#dashboard-housing h1, #dashboard-associate h1 {
    font-size: 2.5em;
    font-variant: small-caps;
    font-weight: 500;
    margin: 0;
}

#housing-content, #associate-content {
    overflow-y: hidden;
    transition: all .5s;
}

.filter-search{
    height: inherit;
}

.filter-search .input-group{
    padding: .4em 0em;
    display: flex;
}

.btn-filter {
    float: right;
}

#associate-filters, #housing-filters {
    overflow-y: hidden;
    height: 0;
    transition: all .5s;
    margin: 0em 1em;
}

.progress {
    background-color: #f5f5f5;
}

progress[value]::-webkit-progress-bar {
    background-color: #f5f5f5;
}

.progress::-moz-progress-bar {
    background-color: rgba(242, 106, 37, 1);
}

progress[value]::-webkit-progress-value {
    background-color: rgba(242, 106, 37, 1);
}

#housing-filters h3, #associate-filters h3 {
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
    margin-top: 0.55em;
}

#housing-filters .fluid-container, #associate-filters .fluid-container {
    width: 56em;
}

#housing-filters .fluid-container .col-md-6, #housing-filters .fluid-container .col-md-12,
#associate-filters .fluid-container .col-md-6, #associate-filters .fluid-container .col-md-12 {
    margin-top: 0.15em;
}

#housing-filters .fluid-container .col-md-4, #housing-filters .fluid-container .col-md-2,
#associate-filters .fluid-container .col-md-4, #associate-filters .fluid-container .col-md-2 {
    width: 8.5em;
}

.pill {
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 2.6em;
    width: 100%;
    padding: .5em 1em;
    margin: .2em;
    font-size: 10px;
    font-weight: 900;
    font-variant: small-caps;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio]:checked+.pill, input[type=checkbox]:checked+.pill {
    background-color: rgba(242, 106, 37, 1);
    color: white;
}

.input-group {
    display: flex;
}

.btn.btn-default.form-control {
    width: 3em !important;
}

#dashboard select.form-control {
    width: 8em;
}

.row.hr-row {
    margin-right: 0;
    margin-left: 0;  
}

progress {
    height: 1.5em;
    width: 100%;
}

.progress {
    margin-bottom: 0;
}

.pagination {
    transition: all .5s;
}

.pagination.input-group .form-control
{
    border: 1px solid rgba(242, 106, 37, .5);
}

.pagination li .btn-revature {
    background-color: rgba(242, 106, 37, 1);
    color: white;
    font-weight: bold;
}

.pagination li a.btn.btn-default.form-control {
    font-weight: bold;
}

.pagination li .btn-revature:hover {
    background-color: rgba(225, 90, 20, 1);
}

.text-center .input-group {
    display: inline-block;
}

.btn.btn-lg.btn-revature {
    background-color: rgba(242, 106, 37, 1);
    color: white;
    font-weight: bold;
}

.modal {
     overflow: hidden;
}

body.modal-open {
    margin: 0;
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px;
    }
}

.modal-body label {
    width: 100%;
}

.modal-body .row .row {
    padding: 0 15px;
}

.toggle {
    padding: 0;
}

.toggle-left, .toggle-right {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 3em;
    width: 100%;
    padding: .5em 1em;
    margin: .2em;
    font-size: 10px;
    font-weight: 900;
    font-variant: small-caps;
}

input[type=radio]:checked+.toggle-left, input[type=radio]:checked+.toggle-right {
    background-color: rgba(242, 106, 37, 1);
    color: white;
}

.toggle-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggle-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-header-revature {
    background-color: rgba(242, 106, 37, 1);
    font-weight: 700;
    color: white;
}

.modal-footer {
    background-color: #f5f5f5;
}

.assigning-controls {
    margin-right: .2em; 
    display: inline-block;
    float: right;
}
