<article class="container view-content" style="height: 100%">
    <div class="col-md-10 col-md-offset-1" style="height: 100%">
        <section class="row">
            <div class="col-md-9">
                <h1>Complex Capacity</h1>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row">
            <div class="col-md-2">
                <button id="spin" class="btn btn-lg btn-revature">
                    <img src="images/loading.png" alt="" class="refresh-animate"> 
                    Loading...
                </button>
            </div>
        </section>
        <section class="row">
            <div id="page-warning">
                <h5 style="padding-left: 1em;">* Currently just a placeholder, nothing is loading.</h5>
            </div>
            <div id='chart'></div>
        </section>
</article>