<article class="container view-content" style="height: 100%">
    <div class="col-md-10 col-md-offset-1" style="height: 100%;">
        <section class="row">
            <div class="col-md-6">
                <h1>Associates</h1>
            </div>
            <div class="col-md-6 col-btn">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addModal">
                        <span class="glyphicon glyphicon-plus"></span> Add Associate
                    </button>
                </div>
                <div class="col-md-8">
                    <input type="text" placeholder="Search" ng-model="AssociateScope.Search.Associate" class="form-control">
                </div>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row" id="associate-content">
            <div class="col-md-4" ng-repeat="item in AssociateScope.Associates | search:AssociateScope.Search.Associate:1 | pagerange:AssociateScope.CurrentPage:AssociateScope.PageSize">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="panel-title">{{item.FirstName + " " + item.LastName}}</h3>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#editModal" ng-click="AssociateScope.EditAssociate(item)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Gender: {{item.GenderName | lettercap}}</p>
                        <p>Batch: {{item.BatchName}}</p>
                        <p>Phone: {{item.PhoneNumber}}</p>
                        <p>Email: {{item.Email}}</p>
                        <p>DOB: {{item.DateOfBirth | changedate}}</p>
                        <p>Needs Housing: {{item.NeedsHousing | bool}}</p>
                        <p>Has a Car: {{item.HasCar | bool}}</p>
                        <p>Has keys: {{item.HasKeys | bool}}</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#removeModal" ng-click="AssociateScope.GetCurrentAssociate(item)">
                            <span class="glyphicon glyphicon-trash"></span> Remove Associate
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="row" id="associate-pagination">
            <div class="text-center">
                <ul class="pagination input-group">
                    <li>
                        <a class="btn btn-default form-control" ng-click="AssociateScope.GoToPage(AssociateScope.CurrentPage - 1)" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="item in AssociateScope.Associates | search:AssociateScope.Search.Associate:1 | pagecount:AssociateScope.PageSize">
                        <a class="btn btn-default form-control" ng-click="AssociateScope.GoToPage($index + 1)" ng-class="AssociateScope.GetPageClass($index + 1)">
                             {{$index + 1}}
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-default form-control" ng-click="AssociateScope.GoToPage(AssociateScope.CurrentPage + 1)" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>

<!-- Add Associate Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-revature">
                <h2 class="modal-title center text-uppercase" id="myModalLabel">Add New Associate</h2>
            </div>
            <div class="modal-body">
                <div class="container form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    First Name
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.NewAssociate.FirstName" class="form-control" placeholder="John">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Last Name
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.NewAssociate.LastName" class="form-control" placeholder="Smith">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Phone
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.NewAssociate.PhoneNumber" class="form-control" placeholder="555-555-5555" >
                                </div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <div class="row">
                                    Email
                                </div>
                                <div class="row">
                                    <input type="email" ng-model="AssociateScope.NewAssociate.Email" class="form-control" placeholder="johnsmith@gmail.com">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Gender
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.Gender" id="aGenderMale" value="male" checked />
                                        <label for="aGenderMale" class="toggle-left">Male</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.Gender" id="aGenderFemale" value="female" />
                                        <label for="aGenderFemale" class="toggle-right">Female</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Date of Birth
                                </div>
                                <div class="row">
                                    <input type="date" ng-model="AssociateScope.NewAssociate.DateOfBirth" class="form-control">
                                </div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Needs Housing
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.NeedsHousing" id="aNeedsHousingYes" value="yes" checked />
                                        <label for="aNeedsHousingYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.NeedsHousing" id="aNeedsHousingNo" value="no" />
                                        <label for="aNeedsHousingNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Has Keys
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.HasKeys" id="aHasKeysYes" value="yes" checked />
                                        <label for="aHasKeysYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.HasKeys" id="aHasKeysNo" value="no" />
                                        <label for="aHasKeysNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Has a Car
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.HasCar" id="aHasCarYes" value="yes" checked />
                                        <label for="aHasCarYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.NewAssociate.HasCar" id="aHasCarNo" value="no" />
                                        <label for="aHasCarNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Batch
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding: 0">
                                        <select ng-model="AssociateScope.NewAssociate.BatchName" id="batch" class="form-control">
                                            <option ng-repeat="item in AssociateScope.Batches" value="{{item.Name}}">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#addModal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="AssociateScope.AddAssociate()" data-dismiss="modal" data-target="#addModal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Associate Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-revature">
                <h2 class="modal-title center text-uppercase" id="myModalLabel">Edit Associate</h2>
            </div>
            <div class="modal-body">
                <div class="container form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    First Name
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.UpdateAssociate.FirstName" class="form-control">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Last Name
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.UpdateAssociate.LastName" class="form-control">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Phone
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="AssociateScope.UpdateAssociate.PhoneNumber" class="form-control">
                                </div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <div class="row">
                                    Email
                                </div>
                                <div class="row">
                                    <input type="email" ng-model="AssociateScope.UpdateAssociate.Email" class="form-control" disabled>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Gender
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.Gender" id="bGenderMale" value="male">
                                        <label for="bGenderMale" class="toggle-left">Male</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.Gender" id="bGenderFemale" value="female" />
                                        <label for="bGenderFemale" class="toggle-right">Female</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Date of Birth
                                </div>
                                <div class="row">
                                    <input type="date" ng-model="AssociateScope.UpdateAssociate.DateOfBirth" class="form-control">
                                </div>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Needs Housing
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.NeedsHousing" id="bNeedsHousingYes" value="yes" checked />
                                        <label for="bNeedsHousingYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.NeedsHousing" id="bNeedsHousingNo" value="no" />
                                        <label for="bNeedsHousingNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Has Keys
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.HasKeys" id="bHasKeysYes" value="yes" checked />
                                        <label for="bHasKeysYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.HasKeys" id="bHasKeysNo" value="no" />
                                        <label for="bHasKeysNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Has a Car
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.HasCar" id="bHasCarYes" value="yes" checked />
                                        <label for="bHasCarYes" class="toggle-left">Yes</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="AssociateScope.UpdateAssociate.HasCar" id="bHasCarNo" value="no" />
                                        <label for="bHasCarNo" class="toggle-right">No</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <div class="row">
                                    Batch
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding: 0">
                                        <select ng-model="AssociateScope.UpdateAssociate.BatchName" id="batch" class="form-control">
                                            <option ng-repeat="item in AssociateScope.Batches" value="{{item.Name}}">{{item.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#editModal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="AssociateScope.ModAssociate()" data-dismiss="modal" data-target="#editModal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Remove Associate Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-revature">
                <h2 class="modal-title center text-uppercase" id="myModalLabel">Remove {{AssociateScope.CurrentAssociate.FirstName + " " + AssociateScope.CurrentAssociate.LastName}}</h2>
            </div>
            <div class="modal-body">
                Are you sure you want to remove {{AssociateScope.CurrentAssociate.FirstName + " " + AssociateScope.CurrentAssociate.LastName}} from all Associates?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#removeModal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="AssociateScope.RemoveAssociate(AssociateScope.CurrentAssociate.Email)" data-dismiss="modal" data-target="#removeModal">Confirm</button>
            </div>
        </div>
    </div>
</div>