<article class="container">
    <div class="col-md-10 col-md-offset-1">
        <section class="row">
            <div class="col-md-9">
                <h1>Associates</h1>
            </div>
            <div class="col-md-3 col-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add Associate
                </button>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row">
            <div class="col-md-6">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <a ui-sref="">
                            <h3 class="panel-title">FirstName LastName</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>Gender</p>
                        <p>Email</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Remove Associate
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>