<article class="container view-content" style="height: 100%">
    <div class="col-md-10 col-md-offset-1" style="height: 100%;">
        <section class="row">
            <div class="col-md-9">
                <h1>Associates</h1>
            </div>
            <div class="col-md-3 col-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add Associate
                </button>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row" id="associate-content">
            <div class="col-md-4" ng-repeat="item in AssociateScope.Associates | pagerange:AssociateScope.CurrentPage1:AssociateScope.PageSize1">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <a href="">
                            <h3 class="panel-title">{{item.FirstName + " " + item.LastName}}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>Gender: {{item.Gender}}</p>
                        <p>Batch: {{item.Batch.Name}}</p>
                        <p>Technology: {{item.Batch.Technology}}</p>
                        <p>Phone: {{item.PhoneNumber}}</p>
                        <p>Email: {{item.Email}}</p>
                        <p>DOB: {{item.DateOfBirth | date}}</p>
                        <p>Has a Car: {{item.HasCar | bool}}</p>
                        <p>Has keys: {{item.HasKeys | bool}}</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Remove Associate
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="row" id="associate-pagination">
            <div class="text-center">
                <ul class="pagination input-group">
                    <li ng-repeat="item in AssociateScope.Associates | pagecount:AssociateScope.PageSize1">
                        <a class="btn btn-default form-control" ng-click="AssociateScope.GoToPage(AssociateScope.CurrentPage1, ($index + 1))" ng-class="AssociateScope.GetPageClass(AssociateScope.CurrentPage1, ($index + 1))">
                             {{$index + 1}}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>