<!--Complex -->
<div ng-controller="ComplexCtrl">
    <div ng-repeat="comp in compList">
        Complex Name: {{comp.Name}}
        Address:{{comp.Address}}
        Phone Number: {{comp.PhoneNumber}}
        <button ng-click ="goToApt()"> View Apartments /</button>
        <button ng-click ="delComp = comp; deleteComp()">Delete Complex </button>
    </div>


<button type="button" data-target="#complexModal">
     <span class="glyphicon glyphicon-plus"></span> Add Complex</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-header">
            <h3 class="modal-title" id="modal-title">New Complex</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label for="Complex"> Complex Name: </label>
             <div>
                   <input type ="text" ng-model="compName"/>
             </div>
        </div>

        <div class="form-group">
             <label for ="Address"> Address: </label>
             <div>
                 <input type ="text" ng-model="compAddress"/>
             </div>
        </div>

        <div class="form-group">
             <label for ="Phone Number"> Phone Number: </label>
            <div>
                <input type ="text" ng-model="compNumber"/>
            </div>
        </div>

    <div class="form-group">
        <div>
         <label for="Hotel">Hotel:</label>
        <label>
             <input type="radio" name="model.IsHotel" data-ng-model="IsHotel" id="optionsRadios1" data-ng-value="true" checked>
            Yes
        </label>
         <br>
    <label>
    <input type="radio" name="model.IsHotel" data-ng-model="IsHotel" id="optionsRadios1" data-ng-value="false" checked>
      No
    </label>
    </div>
</div>
    <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-target= "#myModal" ng-click="addComp()">Create New Complex</button>
            <button class="btn btn-warning" type="button" data-target="#myModal">Close</button>
        </div>
    <button ng-click="addComp()">Create New Complex</button>
</div>   
</div>


      


   

