<article class="container" style="height: 100%">
    <section id="dashboard-associate" class="row">
        <div class="col-md-9">
            <h1>Unassigned Associates</h1>
        </div>
        <div class="col-md-3 filter-search">
            <button class="btn btn-default btn-filter" ng-click="DashboardScope.ToggleFilters('associate')">Filters</button>
        </div>
    </section>
    <section class="row" id="associate-filters" style="height: 0em;">
        <div class="fluid-container" style="width: 25.5em; margin: 0em 1em;">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <select ng-model="DashboardScope.Filters.SrcChoice" id="housing-search" class="form-control">
                            <option value="name">Name</option>
                            <option value="batch">Batch</option>
                        </select>
                        <input type="text" ng-model="DashboardScope.Filters.SrcString" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h3>Technology</h3>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadTech" id="aTechAll" value="all" />
                        <label for="aTechAll" class="pill">All</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadTech" id="aTechJava" value="java" />
                        <label for="aTechJava" class="pill">Java</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadTech" id="aTechNet" value="net" />
                        <label for="aTechNet" class="pill">.NET</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadTech" id="aTechSdet" value="sdet" />
                        <label for="aTechSdet" class="pill">SDET</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <h3>Gender</h3>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadGender" id="aGenderAll" value="all" />
                        <label for="aGenderAll" class="pill">All</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadGender" id="aGenderMale" value="male" />
                        <label for="aGenderMale" class="pill">Male</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadGender" id="aGenderFemale" value="female" />
                        <label for="aGenderFemale" class="pill">Female</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <h3>Has Car</h3>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadCar" id="aCarAll" value="all" />
                        <label for="aCarAll" class="pill">N/A</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadCar" id="aCarYes" value="yes" />
                        <label for="aCarYes" class="pill">Yes</label>
                    </div>
                    <div>
                        <input type="radio" ng-model="DashboardScope.Filters.RadCar" id="aCarNo" value="no" />
                        <label for="aCarNo" class="pill">No</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row hr-row">
        <hr/>
    </section>
    <section class="row" id="associate-content">
        <div class="fluid-container" id="associate-list">
            <div ng-class="DashboardScope.UpdateContentClass(1, DashboardScope.AssociatePageSize)" ng-repeat="item in DashboardScope.Associates | assigned:DashboardScope.DisplayMode:DashboardScope.CurrentUnit | afilters:DashboardScope.Filters | pagerange:DashboardScope.AssociateCurrentPage:DashboardScope.AssociatePageSize">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10" ng-click="DashboardScope.SelectPerson($event,item)">
                                {{item.FirstName + " " + item.LastName}}
                                <span class="glyphicon glyphicon-ok pull-right"></span>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default pull-right" ng-click="DashboardScope.ToggleDetails($event)">
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="display: none;">
                        <p>Gender: {{item.Gender}}</p>
                        <p>Batch: {{item.Batch.Name}}</p>
                        <p>Technology: {{item.Batch.Technology}}</p>
                        <p>Phone: {{item.PhoneNumber}}</p>
                        <p>Email: {{item.Email}}</p>
                        <p>DOB: {{item.DateOfBirth | date}}</p>
                        <p>Has a Car: {{item.HasCar | bool}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="associate-pagination">
        <div class="text-center">
            <ul class="pagination input-group">
                <li>
                    <a class="btn btn-default form-control" ng-click="DashboardScope.GoToPage(1, DashboardScope.AssociateCurrentPage - 1)" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="item in DashboardScope.Associates | afilters:DashboardScope.Filters | pagecount:DashboardScope.AssociatePageSize">
                    <a class="btn btn-default form-control" ng-click="DashboardScope.GoToPage(1, $index + 1)" ng-class="DashboardScope.GetPageClass(1, $index + 1)">
                        {{$index + 1}}
                    </a>
                </li>
                <li>
                    <a class="btn btn-default form-control" ng-click="DashboardScope.GoToPage(1, DashboardScope.AssociateCurrentPage + 1)" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</article>