<div id="dashboard-housing" class="row">
    <div class="col-md-6">
        <h1>Housing</h1>
    </div>
    <div class="col-md-6 filter-search">
        <button class="btn btn-default btn-filter" ng-click="toggleFilters()">Filters</button>
    </div>
</div>
<div class="row" id="housing-filters" style="height: 0em;">
    <div class="fluid-container" style="width: 56em; margin: 0em 1.5em;">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="input-group">
                    <select name="housing-search-mod" id="housing-search" class="form-control">
                        <option value="0">Name</option>
                        <option value="1">Batch</option>
                    </select>
                    <input type="text" class="form-control">
                    <button type="button" class="btn btn-default form-control"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>Technology</h3>
                <div>
                    <input type="radio" name="radTech" id="techAll" value="all" checked="checked" />
                    <label for="techAll" class="pill">All</label>
                </div>
                <div>
                    <input type="radio" name="radTech" id="techJava" value="java" />
                    <label for="techJava" class="pill">Java</label>
                </div>
                <div>
                    <input type="radio" name="radTech" id="techNet" value="net" />
                    <label for="techNet" class="pill">.NET</label>
                </div>
                <div>
                    <input type="radio" name="radTech" id="techSdet" value="sdet" />
                    <label for="techSdet" class="pill">SDET</label>
                </div>
            </div>
            <div class="col-md-2">
                <h3>Gender</h3>
                <div>
                    <input type="radio" name="radGender" id="genderAll" value="all" checked="checked" />
                    <label for="genderAll" class="pill">All</label>
                </div>
                <div>
                    <input type="radio" name="radGender" id="genderMale" value="male" />
                    <label for="genderMale" class="pill">Male</label>
                </div>
                <div>
                    <input type="radio" name="radGender" id="genderFemale" value="female" />
                    <label for="genderFemale" class="pill">Female</label>
                </div>
            </div>
            <div class="col-md-2">
                <h3>Needs Car</h3>
                <div>
                    <input type="radio" name="radCar" id="carAll" value="all" checked="checked" />
                    <label for="carAll" class="pill">N/A</label>
                </div>
                <div>
                    <input type="radio" name="radCar" id="carYes" value="yes" />
                    <label for="carYes" class="pill">Yes</label>
                </div>
                <div>
                    <input type="radio" name="radCar" id="carNo" value="no" />
                    <label for="carNo" class="pill">No</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hr-row">
    <hr/>
</div>
<div class="fluid-container" id="housing-list">
    <div class ="col-md-4" ng-repeat="item in units">
        <div class="panel panel-revature">
            <div class="panel-heading">
                {{item.AptNumber + " " + item.Complex.Name}}
            </div>
            <div class="panel-body">
                <p>{{item.Gender}}</p>
                <p class="address">{{item.Complex.Address | address}}</p>
                <p>{{item.Complex.PhoneNumber}}</p>
                <p>Cars: {{item.Cars}}</p>
                <p>Capacity: 
                    <progress class="progress" ng-value="{{item.Capacity}}" max="{{item.MaxCapacity}}"></progress>
                </p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Assign Associate
                </button>
            </div>
        </div>
    </div>
</div>
   


      


   

