<div id="dashboard-housing" class="row">
    <div class="col-md-6">
        <h1>Housing</h1>
    </div>
    <div class="col-md-6 filter-search">
        <button class="btn btn-default btn-filter" ng-click="toggleFilters()">Filters</button>
    </div>
</div>
<div class="row" id="housing-filters" style="height: 0em;">
    
</div>
<div class="row hr-row">
    <hr/>
</div>
<div class="fluid-container" id="housing-list">
    <div class ="col-md-4" ng-repeat="item in units">
        <div class="panel panel-revature">
            <div class="panel-heading">
                {{item.AptNumber + " " + item.Complex.Name}}
            </div>
            <div class="panel-body">
                <p>{{item.Gender}}</p>
                <p class="address">{{item.Complex.Address | address}}</p>
                <p>{{item.Complex.PhoneNumber}}</p>
                <p>Capacity: 
                    <progress class="progress" ng-value="{{item.Capacity}}" max="{{item.MaxCapacity}}"></progress>
                </p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Assign Associate
                </button>
            </div>
        </div>
    </div>
</div>
   


      


   

