<div id="dashboard-complex" class="row">
    <div class="col-md-9">
        <h1>Complexes</h1>
    </div>
    <div class="col-md-3 filter-search">
        <div class="input-group">
            <input type="text" class="form-control" list="filters">
            <datalist id="filters">
                <option>Complex</option>
                <option>Availablilty</option>
                <option>Capacity</option>
            </datalist>
            <button class="btn btn-default form-control" style="width: initial;">
                <span class="glyphicon glyphicon-search"> </span>
            </button>
        </div>
    </div>
</div>
<div class="row hr-row">
    <hr/>
</div>
<div class="container-fluid">
    <div class ="col-md-5">
        <div class="panel panel-revature">
            <div class="panel-heading">
                Complex
            </div>
            <div class="panel-body">
                <p>Name</p>
                <p>Address</p>
                <p>PhoneNumber</p>
                <p>CurrentCapacity</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Assign Associate
                </button>
            </div>
        </div>
    </div>
</div>
   


      


   

