<div id="dashboard-complex" class="row">
    <div class="col-md-9">
        <h1>Complexes</h1>
    </div>
    <div class="col-md-3 filter-search">
        <div class="input-group">
            <input type="text" class="form-control" list="complex-filters">
            <datalist id="complex-filters">
                <option>Complex</option>
                <option>Availablilty</option>
                <option>Capacity</option>
            </datalist>
            <button class="btn btn-default form-control" style="width: initial;">
                <span class="glyphicon glyphicon-search"> </span>
            </button>
        </div>
    </div>
</div>
<div class="row hr-row">
    <hr/>
</div>
<div class="fluid-container">
    <div class ="col-md-4" ng-repeat="item in complexes">
        <div class="panel panel-revature">
            <div class="panel-heading">
                {{item.Name}}
            </div>
            <div class="panel-body">
                <p class="address">{{item.Address | address}}</p>
                <p>{{item.PhoneNumber}}</p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Assign Associate
                </button>
            </div>
        </div>
    </div>
</div>
   


      


   

