<div id="dashboard-associate" class="row">
    <div class="col-md-6">
        <h1>Associates</h1>
    </div>
    <div class="col-md-6 filter-search">
        <button class="btn btn-default btn-filter" ng-click="toggleFilters()">Filters</button>
    </div>
</div>
<div class="row" id="associate-filters" style="height: 0em;">
    <h1>This is where the filters go!</h1>
</div>
<div class="row hr-row">
    <hr/>
</div>
<div class="fluid-container" id="associate-list">
    <div class="col-md-12" ng-repeat="item in associates | hasKeys">
        <div class="panel panel-revature">
            <div class="panel-heading"> 
                {{item.FirstName + " " + item.LastName}}
            </div>
        </div>
    </div>
</div>