<div class="row">
    <div class="col-md-3 col-md-offset-7">
    <h1>Associates</h1>
</div>
    <div class="row">
        <div class= "col-md-2 col-md-offset-9">
            <div class="input-group" style="display: flex;">
                <input type="text" class="form-control" list="filters">
                    <datalist id="filters">
                        <option>Name</option>
                        <option>Technology</option>
                        <option>Gender</option>
                        <option>Assigned</option>
                    </datalist>
                <button class="btn btn-default form-control" style="width:initial;">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
<br>
<div class="container-fluid">
        <div class="col-md-3 col-md-offset-7">
            <div class= "panel-primary">
                <div class="panel-heading"> 
                    Associate 
                </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        Name:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        Phone Number:
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-5">
                        Gender:
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-5">
                        Technology:
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-5">
                        House Assigned:
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>