<!-- Main UI view -->

<!-- get both dashboard complex and dashboard associate view through routing  -->

<!--root element be a div tag -->

<article class="fluid-container">
    <div id="dashboard" class="row">
        <div class="col-md-10 col-md-offset-1">
            <section id="dashboard-left" class="col-md-8 expanded">
                <div ui-view ="complexes"></div>
            </section>
            <button type="button" id="expand-btn" ng-click="expandView()">&harr;</button>
            <section id="dashboard-right" class="col-md-4">
                <div ui-view ="associates"></div>
            </section>
        </div>
    </div>
</article>
