<article class="fluid-container" style="height: 100%">
    <div id="dashboard" class="row" style="height: 100%">
        <div class="col-md-10 col-md-offset-1" style="height: 100%">
            <div class="row" style="height: 100%">
                <section id="dashboard-left" class="col-md-8 expanded">
                    <div ui-view ="units" style="height: 100%"></div>
                </section>
                <section id="dashboard-right" class="col-md-4">
                    <div ui-view ="associates" style="height: 100%"></div>
                </section>
            </div>
        </div>
    </div>
</article>
