<article class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <section class="row">
            <div class="col-lg-9">
                <h1>Housing Complexes</h1>
            </div>
            <div class="col-lg-3 col-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New Complex
                </button>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row">
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a ui-sref="">
                            <h3 class="panel-title">ComplexName</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="">Address</p>
                        <p class="">PhoneNumber</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>