<article class="container view-content" style="height: 100%">
    <div class="col-md-10 col-md-offset-1" style="height: 100%">
        <section class="row">
            <div class="col-md-3 col-btn back">
                <a ui-sref="housing">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-arrow-left"></span> Go Back
                    </button>
                </a>
            </div>
        </section>
        <section class="row">
            <div class="col-md-6">
                <h1>{{HousingScope.CurrentComplex}}</h1>
            </div>
            <div class="col-md-6 col-btn">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addModal">
                        <span class="glyphicon glyphicon-plus"></span> New Unit
                    </button>
                </div>
                <div class="col-md-8">
                    <input type="text" placeholder="Search" ng-model="HousingScope.Search.Unit" class="form-control">
                </div>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row" id="housing-content">
            <div class="col-md-4" ng-repeat="item in HousingScope.CurrentUnits | search:HousingScope.Search.Unit:3 | pagerange:HousingScope.CurrentPage2:HousingScope.PageSize2">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{item.AptNumber}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{item.GenderName | lettercap}}</p>
                        <p>Cars: {{item.Cars}}</p>
                        <p>Occupancy: 
                            <progress class="progress" ng-value="{{item.Capacity}}" max="{{item.MaxCapacity}}"></progress>
                        </p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm"  data-toggle="modal" data-target="#removeModal" ng-click="HousingScope.GetCurrentUnit(item)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="row" id="housing-pagination">
            <div class="text-center">
                <ul class="pagination input-group">
                    <li>
                        <a class="btn btn-default form-control" ng-click="HousingScope.GoToPage(2, HousingScope.CurrentPage2 - 1)" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="item in HousingScope.CurrentUnits | search:HousingScope.Search.Unit:3 | pagecount:HousingScope.PageSize2">
                        <a class="btn btn-default form-control" ng-click="HousingScope.GoToPage(2, $index + 1)" ng-class="HousingScope.GetPageClass(2, $index + 1)">
                            {{$index + 1}}
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-default form-control" ng-click="HousingScope.GoToPage(2, HousingScope.CurrentPage2 + 1)" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>

<!-- Add Unit Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-revature">
                <h2 class="modal-title center text-uppercase" id="myModalLabel">Add New Complex</h2>
            </div>
            <div class="modal-body">
                <div class="container form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                <div class="row">
                                    Apartment
                                </div>
                                <div class="row">
                                    <input type="text" ng-model="HousingScope.NewUnit.AptNumber" class="form-control" placeholder="1408">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Lease End Date
                                </div>
                                <div class="row">
                                    <input type="date" ng-model="HousingScope.NewUnit.LeaseEndDate" class="form-control">
                                </div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <div class="row">
                                    Gender
                                </div>
                                <div class="row">
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="HousingScope.NewUnit.GenderName" id="aGenderMale" value="male" checked />
                                        <label for="aGenderMale" class="toggle-left">Male</label>
                                    </div>
                                    <div class="col-md-6 toggle">
                                        <input type="radio" ng-model="HousingScope.NewUnit.GenderName" id="aGenderFemale" value="female" />
                                        <label for="aGenderFemale" class="toggle-right">Female</label>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label>
                                <div class="row">
                                    Capacity
                                </div>
                                <div class="row">
                                    <select ng-model="HousingScope.NewUnit.MaxCapacity" class="form-control">
                                        <option value="" disabled selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#addModal">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="HousingScope.AddUnit()" data-dismiss="modal" data-target="#addModal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Remove Unit Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-revature">
        <h2 class="modal-title center text-uppercase" id="myModalLabel">Remove {{HousingScope.CurrentUnit.AptNumber + " " + HousingScope.CurrentUnit.HousingComplexName}}</h2>
      </div>
      <div class="modal-body">
        Are you sure you want to remove unit {{HousingScope.CurrentUnit.AptNumber}} from {{HousingScope.CurrentUnit.HousingComplexName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#removeModal">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="HousingScope.RemoveUnit(HousingScope.CurrentUnit.HousingUnitName)" data-dismiss="modal" data-target="#removeModal">Confirm</button>
      </div>
    </div>
  </div>
</div>