<article class="container">
    <div class="col-md-10 col-md-offset-1">
        <section class="row">
            <div class="col-md-9">
                <h1>Housing Complexes</h1>
            </div>
            <div class="col-md-3 col-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New Complex
                </button>
            </div>
        </section>
        <section class="row">
            <hr />
        </section>
        <section class="row">
            <div class="col-md-4" ng-repeat="item in HousingScope.Complexes">
                <div class="panel panel-revature">
                    <div class="panel-heading">
                        <a ui-sref="housing-unit({ Name: item.Name })">
                            <h3 class="panel-title">{{item.Name}}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="address">{{item.Address | address}}</p>
                        <p>{{item.PhoneNumber}}</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>